{{#each photos}}

<div style="background-color:#c3c3c3; margin:15px; padding:15px 15px; position:relative ">

    <div style="display: flex;  align-content:flex-end;">

        <img src="{{imageURL}}" alt="" style="display:flex; justify-content:center; width: 500px; padding:7px;  ">


        <div style="display: flex; flex-direction:column; margin: 20px;">

            <h3 style="display: flex; margin-top:70px">{{title}}</h3>

            <div style="max-width: 20vw;">
                <p>{{description}}</p>
            </div>

        </div>


    </div>


</div>

{{/each}}