<div class="row">

    <div class="col -md-4">
        <div class="card">
            <div class="card-body">
                <form action="/images/add" method="POST" enctype="multipart/form-data">

                    <div class="form-group">
                        <input type="text" name="title" class="form-control" placeholder="Título de la obra">
                    </div>

                    <div class="form-group">
                        <textarea name="description" class="form-control" placeholder="Ficha técnica"></textarea>
                    </div>

                    <div class="input-group mb-3">
                        <div class="custom-file">
                            <input type="file" name="image" class="custom-file-input" id="inputGroupFile01">
                            <label for="inputGroupFile01" class="custom-file-label">Elegir una obra</label>
                        </div>
                    </div>

                    <button class="btn btn-primary">
                        Subir Obra
                    </button>

                </form>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <table class="table">
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Descripción</th>
                    <th>Operaciones</th>

                </tr>

            </thead>

            <tbody>
                {{#each photos}}
                <tr>
                    <td>{{title}}</td>



                    <td style="max-width:500px; ">{{description}}</td>


                    <td style="display:flex; justify-content:space-around ;">

                        <a href="{{imageURL}}" target="_blank" class="btn btn-primary" style="margin: 10px;"> Ver </a>

                        <a href="" class="btn btn-danger" action="/deleteItem/:id" method="DELETE" style="margin: 10px;"> Borrar </a>
                    </td>

                </tr>
                {{/each}}
            </tbody>
        </table>

    </div>
</div>